body {
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	color: white;
}
a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: line-through;
}

a:active {
	color: white;
}

h1 {
	color: white;
	text-align: center;

}

table, td {
    border-collapse: collapse;
  /* border: 1px solid red; */
    text-align: left bottom;
}
